.container {
  height: 70em;
  width: 90%;
  display: flex;
  /* align-items: space-between; */
  justify-content: space-between;
  align-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
