#heading {
  margin-top: 1rem;
  text-align: center;
}

#logo {
  display: block;
  margin: auto;
  width: 80%;
  padding: 2%;
}

h2 {
  text-align: center;
}

.card {
  max-width: 85%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: white;
  border: 2px solid #e9e9e9;
  border-top-left-radius: 45%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  font-size: 13px;
  /* margin-bottom: 5px; */
  aspect-ratio: inherit;
  /* min-height: 320;
  max-height: 320; */
}

#team {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 20px 0;
}

.profilePic {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  padding: 8px;
  gap: 1px;
}

.profilePic img {
  max-width: 85%;
}

.name {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  margin: 0;
}
.socialIcons {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.socialIcons img {
  height: 32px;
  width: 32px;
}
