#heading {
  margin-top: 1rem;
  text-align: center;
}

#logo {
  display: block;
  margin: auto;
  padding: 2%;
  width: 80%;
  max-width: 20em;
}

h2 {
  text-align: center;
}

.card {
  max-width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: white;
  border: 2px solid #e9e9e9;
  border-top-left-radius: 45%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  font-size: 13px;
  /* margin-bottom: 5px; */
  aspect-ratio: inherit;
  /* min-height: 320;
  max-height: 320; */
}

#team {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 20px 0;
}

.profilePic {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  padding: 8px;
  gap: 1px;
}

.profilePic img {
  width: 60%;
}

.name {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  margin: 0;
}
.socialIcons {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.socialIcons img {
  height: 32px;
  width: 32px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .card {
    max-width: 320px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  #team {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 1em;
  }
  .card {
    height: 450px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  #team {
    padding: 0 3em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* For 27-in screens */
@media screen and (min-width: 1820px) {
}
