html {
  margin: auto;
  /* height: 100vh; */
  scroll-behavior: smooth;
  font-family: 'sofia-light';
}

@font-face {
  font-family: 'sofia-light';
  src: url('../assets/sofiapro-light.woff2') format('woff2'),
    url('../assets/sofiapro-light.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: local('Monaco'), url('../assets/Monaco.woff') format('woff');
}

body {
  display: flex;
  background-color: #d6d6d6;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

#rendered {
  opacity: 1;
  transition: all 0.55s ease-in-out;
}

.main {
  scroll-snap-align: start;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

#sticky-nav {
  position: fixed;
  margin: 20px;
  transition: all 0.5s linear;
}

#renderedNav {
  opacity: 1;
  transition: all 1s linear;
}

.quell-bird-logo {
  color: #4e90d6;
  /* filter: brightness(0) invert(1); */
  position: relative;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
}

.quell-bird-logo:hover {
  /* filter: invert(0); */
  transform: rotate(10deg);
  transition: transform 0.15s linear;
}

#quell-bird-pick {
  filter: invert(0);
  transform: rotate(10deg);
  transition: transform 0.35s ease-in-out;
}

.teamBtn {
  color: white;
  background-color: #474f57;
  border: none;
  font-family: 'sofia-light';
  font-size: medium;
}

.teamBtn:hover {
  color: #1876d1;
  cursor: pointer;
}

#alertDiv {
  position: fixed;
  bottom: 3vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 100;
  left: 45%;
  height: 70%;
  width: 20vh;
  margin-bottom: 0.1vh;
}

.demoSection {
  width: '100%';
  height: '100%';
  flex-direction: column;
  justify-content: center;
}

.demoContainer {
  justify-content: space-between;
  z-index: 2;
  /* width: 75%; */
  padding: 20px;
  border-radius: 10px;
  /* border: 2.25px solid #BBB; */
  box-shadow: 0px 15px 50px 0px rgba(0, 0, 0);
  background-color: #dedede;
  display: flex;
  align-items: center;
  overflow: hidden;
  scroll-snap-align: y mandatory;
  scroll-behavior: smooth;
  height: 1200px;
  max-height: 3000px;
  /* transition: scroll-behavior, scroll-snap-align 0.5s ease-in-out; */
}

.cacheControlContainer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  color: rgb(53, 49, 49);
  font-weight: bolder;
}

.graphContainer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.demoRight {
  align-items: center;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 10px;
}

/* this div is only to set a point on the HTML so we can scroll on click to the demo container */
#scroll-demo {
  /* position: relative; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 50px; */
}

#scroll-about {
  position: absolute;
  top: 12vh;
  left: 100vh;
  visibility: hidden;
}

#demo-header {
  font-size: 100px;
  margin: 0;
  /* height: 200px; */
  /* position: relative; */
}

.demoLeft {
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

#responseContainer {
  min-width: 95%;
  min-height: 50rem;
  max-height: 50rem !important;
  background-color: #474f57;
  overflow-y: scroll;
}

.demoRight {
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
  height: 100%;
  width: 50%;
}

::placeholder {
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dropDownContainer {
  margin-top: 20px;
  margin-bottom: 15px;
  height: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.MuiAlert-message {
  overflow: hidden !important;
}

.monaco-editor {
  font-size: 50px;
  z-index: 1;
  padding-top: 5px;
  padding-right: 5px;
  min-height: 30%;
}

.monaco-editor-container {
  /* margin-top: 1em;
  position: relative;
  */
  display: flex;
  justify-content: center;
  max-height: 20%;
  width: 85%;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.1);

  /*
  margin-bottom: 5vh; */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
/*
@media only screen and (min-width: 992px) {
  Button {
    font-size: small;
  }

  .dropDownContainer {
    flex-direction: column;
    padding-bottom: 2.5rem;
  }

  /* .demoContainer {
    margin: 150px auto 120px;
    max-width: 80%;
    max-height: 1400px;
    min-height: 500px !important;
  } */

/*#scroll-demo {
  top: 8.5rem;
 } 

  .demoRight {
    min-height: 1150px;
    /* display: flex;
    /* align-items: space-between; */
/* justify-content: space-between;
    align-content: space-between;  */
/*
  }

  #responseContainer {
    height: 400px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* For 27-in screens */
/*
@media screen and (min-width: 1820px) {
  .demoContainer {
    max-width: 75%;
    /* max-height: 950px; */
/*margin: 320px auto 120px;
/*
  }

  #responseContainer {
    min-height: 300px;
  }

  /* #scroll-demo {
    top: 17.5rem;
    right: 1.75rem;
  } */

/* .demoLeft {
    display: flex;
    flex-direction: row;
  } */
/*
  .demoRight {
    min-height: 950px;
  }

  .graphContainer {
    height: 55em;
    width: 90%;
  }

  .monaco-editor-container {
    height: 400%;
  }
}

*/
