.bird-icon {
  position: relative;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.bird-icon:hover {
  transform: rotate(10deg);
  transition: transform 0.15s linear;
}

html {
  margin: auto;
  max-width: 100%;
  scroll-behavior: smooth;
  font-family: 'sofia-light';
}

@font-face {
  font-family: 'sofia-light';
  src: url('../assets/sofiapro-light.woff2') format('woff2'),
    url('../assets/sofiapro-light.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: local('Monaco'), url('../assets/Monaco.woff') format('woff');
}

body {
  display: flex;
  background-color: #d6d6d6;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 0;
}

#root {
  width: 100%;
}

.main {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  padding: 0px;
}

#rendered {
  opacity: 1;
  transition: all 0.55s ease-in-out;
}

#quell-bird-pick {
  filter: invert(0);
  transform: rotate(10deg);
  transition: transform 0.35s ease-in-out;
}

/* this div is only to set a point on the HTML so we can scroll on click to the demo container */
#scroll-about {
  position: absolute;
  top: 5vh;
  left: 100vh;
  visibility: hidden;
}

#scroll-demo {
  height: 60px;
  visibility: hidden;
}

::placeholder {
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dropDownContainer {
  margin-top: 20px;
  margin-bottom: 15px;
  height: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
}
