.about {
  /* margin-top: 4%; */
  /* height: 100%;
  width: 90%; */
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bannerContainer {
  display: flex;
  justify-content: center;
}

#quellBanner {
  width: 80%;
  max-width: 20em;
}

.contentContainer {
  flex-direction: column;
  display: flex;
  font-size: 1.2rem;
  gap: 20px;
  padding: 10px;
}

#featuresContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.3rem;
}

h1,
h2 {
  margin: 0.2em;
}

.featureList {
  display: flex;
  gap: 5px;
  align-items: flex-start;
}

.featureHeading {
  margin: 0;
  font-weight: bolder;
}

.featureContent {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.eggIcon {
  cursor: pointer;
  transition: all 0.55s ease-in-out;
}

.eggIcon:hover {
  transform: scale(1.1);
  transition: all 0.35s ease-in-out;
}

#devToolText {
  text-decoration: none;
  color: darkblue;
  font-size: 1em;
}

#callToAction {
  cursor: pointer;
}

#callToAction:hover * {
  color: #1876d1;
  cursor: pointer;
  transition: gap 0.25s linear;
}

#getStarted {
  gap: 2.5px;
  transition: gap 0.25s linear;
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-left: 2px;
  margin-top: 5px;
  font-size: 1.2rem;
  /* z-index: 500; */
}

#getStarted:hover {
  gap: 20px;
  transition: gap 0.55s ease-in-out;
}

#getStartedText {
  font-size: 1.35rem;
  text-decoration: none;
  color: black;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .about {
    flex-direction: row;
    gap: 0;
    padding: 2em;
  }

  .bannerContainer {
    width: 40%;
  }
  .contentContainer {
    width: 60%;
    text-align: left;
  }

  .bannerContainer {
    align-items: flex-start;
    padding-top: 20px;
  }

  #quellBanner {
    min-width: 90%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .about {
    padding: 2em 6em;
  }

  .contentContainer {
    width: 65%;
  }

  .bannerContainer {
    width: 35%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .about {
    padding: 2em 8em;
  }
}

/* For 27-in screens */
@media screen and (min-width: 1820px) {
  .about {
    padding: 2em 10em;
  }
}
