.container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgb(161, 183, 202);
}

.editor {
  font-size: 50px;
}
