.container {
  margin-top: 1em;
  /*
    position: relative;
    */
  display: flex;
  justify-content: center;
  /* max-height: 20%; */
  /* min-height: 250px;
  width: 85%; */
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.1);

  /*
    margin-bottom: 5vh; */
}

.editor {
  font-size: 50px;
  z-index: 1;
  padding-top: 5px;
  padding-right: 5px;
  /* min-height: 30%;
  max-height: 250px; */
}
