#renderedNav {
  opacity: 1;
  transition: all 1s linear;
}

.navBar {
  opacity: 0;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  position: sticky;
}

#horizontalMenu {
  /* display: none; */
}

#verticalMenu {
  /* display: flex; */
}

/*
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  box-shadow: none;
  */

.navLink {
  width: 100%;
  background-color: #474f57;
  color: white;
  float: left;
  display: block;
  text-align: center;
  min-width: 20px;
  /* min-width: 85px; */
  /* min-height: 40px; */
  /* max-height: 40px;
  max-width: 90px; */

  /* overflow: hidden; */
}

.dropDownLink {
}

#dropDownMenu {
  /* width: 200px; */
}

.teamButton {
  color: white;
  background-color: #474f57;
  border: none;
  font-family: 'sofia-light';
  font-size: medium;
}

.teamButton:hover {
  color: #1876d1;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* For 27-in screens */
@media screen and (min-width: 1820px) {
}
