@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.section {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  font-size: 4rem;
  color: white;
  margin: 0;
}


.container {
  max-width: 95%;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 5px 20px 0px rgb(133, 133, 133);
  background-color: #242424;
  border: none;
  justify-content: space-between;
  overflow: hidden;
  scroll-snap-align: y mandatory;
  scroll-behavior: smooth;
  padding: 0px;
  gap: 0px;
  margin: 2% 0;
}

#demoHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropDownContainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

#submitQuery {
  border: none;
}

#demoSelect {
  min-width: 90%;
}

.leftContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-items: center;
}


.rightContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-items: center;
}

.cacheControls {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  color: rgb(53, 49, 49);
  font-weight: bolder;
}

#response {
  height: 410px;
  width: 100%;
  background-color: #474f57;
  border-radius: 10px;
  overflow-y: hidden;
  border: none;
  color: white;
}

.button {
  border: none;
  text-align: center;
  height: 30px;
  font-size: 0.85rem;
}

#queryText {
  justify-self:center;
  border: 1px solid rgb(125,208,233);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 0.9rem;
  overflow: scroll;
}

#queryInput {
  font-size: 0.8rem;
  min-width: 100%;
  background-color: #3c6d9e;
  font-family: Inter;
}

.queryMenu {
  min-width: 90%;
  text-align: center;
}

.limits {
  margin-bottom: 10px;
  padding-left: 5px;
  width: 60%;
}

.limitsInput {
  width: 30%;
  padding-left: 5px;
  margin: 0px, 0px, 0px, 20%;
  background-color: #f1f1f1;
  color: #242424;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .section {
    width: 90%;
    padding: 0 2em;
  }
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 2em;
    justify-content: space-around;
  }
  .leftContainer,
  .rightContainer {
    max-width: 45%;
    padding: 0.5em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .section {
    padding: 2rem 4rem;
    width: 85vw;
  }
  .container {
    width: 100%;
  }
  .leftContainer,
  .rightContainer {
    max-width: 45%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .section {
    padding: 2em 6em;
  }
  .container {
    width: 100%;
    padding: 4em;
  }
  .leftContainer,
  .rightContainer {
    max-width: 40%;
  }
}

/* For 27-in screens */
@media screen and (min-width: 1820px) {
  .section {
    padding: 2 em 10em;
  }
}

.menuListItem {
  color: white !important;
  padding: 2px 18px !important;
  font-size: 17px !important;
}

hr {
  margin: 6px 0;
}
